<div class="main-bg">
    <section id="main-section" class="center-position">
        <div class="inner-content">
            <div id="xl-logo" class="logo ">
                <h2 class="txt-center">Tech Bar <span>®</span></h2>
                <!-- <img src="../../../assets/images/logo.png" alt='luna-logo' width='600' /> -->
            </div>
            <div class="login-buttons mt30">
                <div class="click-wrap inline-btn">
                    <a routerLink="/Login" class="parallelogram click-btn">
                        <span class="skew-fix">Log in</span>
                    </a>
                </div>
                <div class="click-wrap inline-btn">
                    <a class="parallelogram bg click-btn" routerLink="/Register">
                        <span class="skew-fix">Register</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div id="setting-icon" class="settings-icon">
            <a href="#">
                <img src="../../../assets/images/setting-icon.png" alt="setting" width="60" />
            </a>
        </div> -->
    </section>
</div>