<div class="inner-wrapper po-details po-receive">
    <div *ngIf="showLoader" class="luna-loading"></div>
    <div class="top">
        <div class="left wd80percent">
            <a (click)="cancelOrderProcess('poStatus','orderStatusActive')" class="back-cust-list">Back</a>
            <h2>{{orderDetail?.transaction_keeping_unit}} -
                <span>{{orderDetail?.Supplier?.supplier_company}}</span></h2>
        </div>
        <div class="right wd20percent">
            <!-- <span [style.color]="orderDetail?.dynamic_status?.status_font_color"
                [style.background-color]="orderDetail?.dynamic_status?.status_background_color"
                class="status dBlock wd100Percent font12">{{orderDetail?.dynamic_status?.status_name}}</span> -->
        </div>
    </div>
    <div class="orderStatusMid bgefefef">
        <div class="topBox mb10">
            <div class="row m0">
                <div class="col-lg-6 pl0 pr10 noborderBottom">
                    <div class="statusinfoBox pt15 pb15 bgWhite">
                        <span class="dBlock colorc2c2c2 font11 fontPoppin fontSemiBold500">Current Status</span>
                        <span class="dBlock color000 font12 fontPoppin fontSemiBold">{{orderStatusText}}</span>
                        <!-- <span *ngIf="orderDetail?.dynamic_status?.status_name == 'On Transit' && trackingNumberEdit"
                            class="dBlock color000 font12 fontPoppin fontSemiBold">Adding tracking number</span>
                            <span *ngIf="orderDetail?.dynamic_status?.status_name == 'On Transit' && !trackingNumberEdit"
                            class="dBlock color000 font12 fontPoppin fontSemiBold">The order is on transit</span> -->
                    </div>
                </div>
                <div class="col-lg-6 pl0 pr0 noborderBottom">
                    <div class="col-lg-6 p0 fl noborderBottom">
                        <div class="statusinfoBox pt15 pb15 bgWhite">
                            <span class="dBlock colorc2c2c2 font11 fontPoppin fontSemiBold500">Screens Sent</span>
                            <span class="dBlock color000 font14 fontPoppin fontSemiBold">{{totalItems}}
                                {{totalItems > 1 ? 'Screens' : 'Screen'}}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 pr0 pl10 fl noborderBottom">
                        <div class="statusinfoBox pt15 pb15 bgWhite">
                            <span class="dBlock colorc2c2c2 font11 fontPoppin fontSemiBold500">Estimated Payout</span>

                            <span
                                class="dBlock color000 font14 fontPoppin fontSemiBold">{{orderDetail?.order_estimate_amount | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomBox">
            <div class="statusinfoBox bgWhite">
                <div class="row m0">
                    <div class="col-lg-12 p0 noborderBottom mb10">
                        <div *ngIf="orderDetail?.dynamic_status?.status_name != 'Canceled'"
                            class="statusWizards rmaBackwizard">
                            <ul>
                                <li
                                    [ngClass]="{'doneStatus' : setDynamicClasses('Draft') , 'currentStatus' : !setDynamicClasses('Draft') &&  setDynamicClasses('Draft') != null}">
                                    <div class="title">
                                        <span class="step-icon top-icon"><i class="icon-draft"></i></span>
                                        <span class="step-icon bottom-icon"></span>
                                        <span class="step-text">Draft</span>
                                    </div>
                                </li>
                                <li
                                    [ngClass]="{'doneStatus' : setDynamicClasses('Submitted') , 'currentStatus' : !setDynamicClasses('Submitted') &&  setDynamicClasses('Submitted') != null}">
                                    <div class="title">
                                        <span class="step-icon top-icon"><i class="icon-submitted"></i></span>
                                        <span class="step-icon bottom-icon"></span>
                                        <span class="step-text">Submitted</span>
                                    </div>
                                </li>
                                <li
                                    [ngClass]="{'doneStatus' : setDynamicClasses('On Transit') , 'currentStatus' : !setDynamicClasses('On Transit') &&  setDynamicClasses('On Transit') != null}">
                                    <div class="title">
                                        <span class="step-icon top-icon"><i class="icon-on_transit"></i></span>
                                        <span class="step-icon bottom-icon"></span>
                                        <span class="step-text">On Transit</span>
                                    </div>
                                </li>
                                <li [ngClass]="{'doneStatus' : setDynamicClasses('Delivered') , 'currentStatus' : !setDynamicClasses('Delivered') &&  setDynamicClasses('Delivered') != null}"
                                    *ngIf="orderDetail?.dynamic_status?.status_name != 'Partially Received'">
                                    <div class="title">
                                        <span class="step-icon top-icon"><i class="icon-delivered"></i></span>
                                        <span class="step-icon bottom-icon"></span>
                                        <span class="step-text">Delivered</span>
                                    </div>
                                </li>
                                <li [ngClass]="{'doneStatus' : setDynamicClasses('Completed') , 'currentStatus' : !setDynamicClasses('Completed') &&  setDynamicClasses('Completed') != null}"
                                    *ngIf="orderDetail?.dynamic_status?.status_name != 'Contact'">
                                    <div class="title">
                                        <span class="step-icon top-icon"><i class="icon-completed"></i></span>
                                        <span class="step-icon bottom-icon"></span>
                                        <span class="step-text">Completed</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="orderDetail?.dynamic_status?.status_name == 'Canceled'"
                            class="statusWizards ifCanceled rmaBackwizard">
                            <ul>
                                <li
                                    [ngClass]="{'doneStatus' : setDynamicClasses('Draft') , 'currentStatus' : !setDynamicClasses('Draft') &&  setDynamicClasses('Draft') != null}">
                                    <div class="title">
                                        <span class="step-icon top-icon"><i class="icon-draft"></i></span>
                                        <span class="step-icon bottom-icon"></span>
                                        <span class="step-text">Draft</span>
                                    </div>
                                </li>
                                <li
                                    [ngClass]="{'doneStatus' : setDynamicClasses('Submitted') , 'currentStatus' : !setDynamicClasses('Submitted') &&  setDynamicClasses('Submitted') != null}">
                                    <div class="title">
                                        <span class="step-icon top-icon"><i class="icon-submitted"></i></span>
                                        <span class="step-icon bottom-icon"></span>
                                        <span class="step-text">Submitted</span>
                                    </div>
                                </li>
                                <li class="canceledStatus">
                                    <div class="title">
                                        <span class="step-icon top-icon"><i class="icon-canceled"></i></span>
                                        <span class="step-icon bottom-icon"></span>
                                        <span class="step-text">Canceled</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 p0 noborderBottom">
                        <div *ngIf="orderDetail?.dynamic_status?.status_name == 'Draft'" class="mainDetailBox">
                            <span class="dBlock color000 font11 mb5 fontPoppin">To sent this buyback request to your
                                supplier, you should finalize the process</span>
                            <div class="statusInnerActions mt15">
                                <!-- <a href="https://apidev.techbar.com/api/pdf?orderId={{orderDetail._id}}" class="innerStatusBtns mr10 noFloat dInlineBlock wd100px">Download P.O.</a> -->
                                <a href="JavaScript:void(0)" (click)="openModal(downloadOrder, 'custModal wd300')"
                                    class="innerStatusBtns mr10 noFloat dInlineBlock">Download Buyback</a>
                                <a href="JavaScript:void(0)" (click)="openModal(open_deleteOrder, 'custModal wd300')"
                                    class="innerStatusBtns noFloat dInlineBlock wd100px">Delete Buyback</a>
                            </div>
                            <!-- <div class="statusdetails"></div> -->
                        </div>
                        <div *ngIf="orderDetail?.dynamic_status?.status_name == 'Submitted'" class="mainDetailBox">
                            <div *ngIf='orderNumberLoader' class="luna-loading"></div>
                            <span class="dBlock color000 font11 mb5 fontPoppin">Your buyback has been submitted</span>
                            <div class="statusInnerActions mt15">
                                <a href="JavaScript:void(0)" (click)="openModal(downloadOrder, 'custModal wd300')"
                                    class="innerStatusBtns mr10 noFloat dInlineBlock">Download Buyback</a>
                                <a href="JavaScript:void(0)" (click)="openModal(open_cancelOrder, 'smallToster custModal wd300')"
                                    class="innerStatusBtns mr10 noFloat dInlineBlock wd100px">Cancel Buyback</a>
                                <a href="JavaScript:void(0)" (click)="initTrackingNumberForm()"
                                    class="innerStatusBtns noFloat dInlineBlock wd160px">Add tracking number</a>
                            </div>
                            <div class="statusdetails mt15">
                                <div class="row ml0 mr0">
                                    <div class="col-lg-6 p0 noborderBottom">
                                        <label class="color000 mb0 fontSemiBold fontPoppin font11">Add
                                            supplier's buyback number</label>
                                        <input type="text" [(ngModel)]="supplierOrderNumber"
                                            (focusout)="addSupplierOrderNumber(orderDetail)"
                                            class="form-control cust-field font11 borderColorcbcbcb borderRadius5 dInlineBlock wd70percent"
                                            placeholder="Type your supplier's order number">
                                        <!-- <a (click)='poSupplierOrderNumberFun(orderDetail)'
                                            class="dInlineBlock bgBlack text-center wd25percent ml10 borderRadius5 lineHeight30px">Save</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="orderDetail?.dynamic_status?.status_name == 'Canceled'" class="mainDetailBox">
                            <span class="dBlock color000 font11 mb5 fontPoppin">The buyback was canceled by
                                {{userWhoCancelBuyback}} and
                                authorized by {{authorizedBy}} on {{cancelDate | customDateFormat}}.</span>
                            <!-- <div class="statusdetails"></div> -->
                        </div>
                        <div *ngIf="orderDetail?.dynamic_status?.status_name == 'On Transit'"
                            class="mainDetailBox trackingDetail">
                            <div *ngIf='onTransitShipingNumLoader' class="luna-loading"></div>
                            <span class="dBlock color000 font11 mb5 fontPoppin">Add tracking number</span>
                            <form autocomplete="off" action="#" [formGroup]="addTrackingForm">
                                <div class="statusdetails trackingDetail mt15"
                                    [ngClass]="{ 'trackingDetailEdit': trackingNumberEdit}">
                                    <div class="row ml0 mr0">
                                        <div class="col-lg-4 pl0 noborderBottom">
                                            <label
                                                [ngClass]="{ 'is-invalid': addTrackingSubmitted && addTrackingForm.controls.company_name.errors}"
                                                class="color000 mb0 fontSemiBold fontPoppin font11">Tracking URL</label>
                                                <div *ngIf="!trackingNumberEdit">
                                                    <span
                                                        class="wd130px btnText valignMiddle dInlineBlock color000 mb0 fontPoppin font11">{{orderDetail?.shipping_company_name}}</span>
                                                    <div class="shippinIcons p0">
                                                        <a href="{{orderDetail?.shipping_company_name}}" tooltip="Track your shippment"
                                                            placement="bottom" target="_blank"
                                                            class="color000 font12 dInlineBlock lineHeight08 pr10 m0">
                                                            <i class="fas fa-globe"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            <input
                                                [ngClass]="{ 'bounce': addTrackingSubmitted && addTrackingForm.controls.company_name.errors}"
                                                *ngIf="trackingNumberEdit" type="text"
                                                class="form-control cust-field font11 borderColorcbcbcb borderRadius5"
                                                placeholder="Type your company's shipping url"
                                                formControlName="company_name">
                                            <span class="field-error-msg"
                                                *ngIf="addTrackingSubmitted && addTrackingForm.controls.company_name.errors?.required">
                                                Company Name is required</span>
                                        </div>
                                        <div class="col-lg-4 pl0 noborderBottom">
                                            <label
                                                [ngClass]="{ 'is-invalid': addTrackingSubmitted && addTrackingForm.controls.tracking_number.errors}"
                                                class="color000 mb0 fontSemiBold fontPoppin font11">Tracking
                                                number
                                            </label>
                                            <div *ngIf="!trackingNumberEdit">
                                                <span
                                                    class="wd130px btnText valignMiddle dInlineBlock color000 mb0 fontPoppin font11">{{orderDetail.shipping_tracking_no}}</span>
                                                <div class="shippinIcons p0">
                                                    <a href="JavaScript:void(0)"
                                                        (click)="stockService.copyText(orderDetail.shipping_tracking_no)"
                                                        tooltip="Copy your tracking number"
                                                        placement="bottom"
                                                        class="color000 font12 dInlineBlock lineHeight08 m0">
                                                        <i class="fas fa-copy"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <input
                                                [ngClass]="{ 'bounce': addTrackingSubmitted && addTrackingForm.controls.tracking_number.errors}"
                                                *ngIf="trackingNumberEdit" type="text"
                                                class="form-control cust-field font11 borderColorcbcbcb borderRadius5"
                                                formControlName="tracking_number"
                                                placeholder="Type your tracking number">
                                            <span class="field-error-msg"
                                                *ngIf="addTrackingSubmitted && addTrackingForm.controls.tracking_number.errors?.required">
                                                Tracking Number is required</span>
                                        </div>
                                        <div class="col-lg-4 pl0 noborderBottom">
                                            <label
                                                [ngClass]="{ 'is-invalid': addTrackingSubmitted && addTrackingForm.controls.estimated_days.errors}"
                                                class="color000 mb0 fontSemiBold fontPoppin font11">Estimated
                                                Delivery</label>
                                            <span *ngIf="!trackingNumberEdit"
                                                class="color000 mb0 fontPoppin font11">{{orderDetail?.shipping_estimated_days | customDateFormat }}</span>
                                            <input *ngIf="trackingNumberEdit" type="text"
                                                formControlName="estimated_days" placeholder="Estimated delivery date"
                                                class="form-control cust-field font11 borderColorcbcbcb borderRadius5"
                                                [bsConfig]="{ isAnimated: true  , dateInputFormat: 'MMM/D/YYYY', showWeekNumbers: false}"
                                                bsDatepicker placement="top" [isOpen]="isOpenestimated_days">
                                            <span *ngIf="trackingNumberEdit"
                                                (click)="isOpenestimated_days = !isOpenestimated_days"
                                                class="datePickerIcon"></span>
                                            <span class="field-error-msg"
                                                *ngIf="addTrackingSubmitted && addTrackingForm.controls.estimated_days.errors?.required">
                                                Estimated Days is required</span>
                                        </div>
                                    </div>
                                    <div class="row mb15 ml0 mr0">
                                        <div class="col-lg-6 pl0 noborderBottom trackNumbtn">
                                            <div *ngIf="trackingNumberEdit" class="iftrackEdit mt10">
                                                <a href="JavaScript:void(0)" (click)="addTrackingNumber('Edit')"
                                                    class="dInlineBlock text-center  borderRadius5">Save</a>
                                                <a href="JavaScript:void(0)" (click)="initializeAddTrackingFrom('')"
                                                    class="dInlineBlock btnTwo color000 text-center ml10 borderRadius5">Cancel</a>
                                            </div>
                                            <div *ngIf="!trackingNumberEdit" class="trackEditbtns mt10">
                                                <a href="JavaScript:void(0)"
                                                    (click)='initializeUpdateTrackingFrom(orderDetail)'
                                                    class="dInlineBlock text-center borderRadius5">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb15 ml0 mr0">
                                        <div class="col-lg-6 p0 noborderBottom">
                                            <label class="color000 mb0 fontSemiBold fontPoppin font11">Add
                                                supplier's buyback number</label>
                                            <input type="text" [(ngModel)]="supplierOrderNumber"
                                                (focusout)="addSupplierOrderNumber(orderDetail)"
                                                class="form-control cust-field font11 borderColorcbcbcb borderRadius5 dInlineBlock wd70percent"
                                                placeholder="Type your supplier's buyback number"
                                                [ngModelOptions]="{standalone: true}">
                                            <!-- <a (click)='poSupplierOrderNumberFun(orderDetail)'
                                                    class="dInlineBlock bgBlack text-center wd25percent ml10 borderRadius5 lineHeight30px">Save</a> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="statusInnerActions mt10 text-right">
                                <a *ngIf="showMarkAsDeliveredButton" href="JavaScript:void(0)" (click)="updateStatus('Delivered')"
                                    class="innerStatusBtns mr10 noFloat dInlineBlock wd200px">Mark this buyback as
                                    delivered</a>
                                <a href="JavaScript:void(0)" (click)="openModal(downloadOrder, 'custModal wd300')"
                                    class="innerStatusBtns mr10 noFloat dInlineBlock">Download Buyback</a>
                                <a href="JavaScript:void(0)" (click)="openModal(open_cancelOrder, 'smallToster custModal wd300')"
                                    class="innerStatusBtns noFloat dInlineBlock">Cancel Buyback</a>
                            </div>
                        </div>
                        <div *ngIf="orderDetail?.dynamic_status?.status_name == 'Delivered'" class="mainDetailBox">
                            <span class="dBlock color000 font11 mb5 fontPoppin">The supplier receive your package. It's
                                going to calculate the amount it this going refund you.</span>
                            <div class="statusdetails mt15">
                                <div class="row ml0 mr0">
                                    <div class="col-lg-6 pl0 noborderBottom">
                                        <label class="color000 mb0 fontSemiBold fontPoppin font11">Add
                                            supplier's buyback number</label>
                                        <input type="text" [(ngModel)]="supplierOrderNumber"
                                            (focusout)="addSupplierOrderNumber(orderDetail)"
                                            class="form-control cust-field font11 borderColorcbcbcb borderRadius5 dInlineBlock"
                                            placeholder="Type your supplier's buyback number">
                                        <!-- <a (click)='poSupplierOrderNumberFun(orderDetail)'
                                            class="dInlineBlock bgBlack text-center wd25percent ml10 borderRadius5 lineHeight30px">Save</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="statusInnerActions bottomMin23 mt10 text-right posRelative">
                                <a href="JavaScript:void(0)" (click)="openModal(downloadOrder, 'custModal wd300')"
                                    class="innerStatusBtns mr10 noFloat dInlineBlock">Download BuyBack</a>
                            </div>
                        </div>
                        <div *ngIf="orderDetail?.dynamic_status?.status_name == 'Completed'" class="mainDetailBox">
                            <span class="dBlock color000 font11 mb5 fontPoppin">The actual amount refund is:
                                {{orderDetail['total_amount'] | currency }}.</span>
                            <div class="statusInnerActions mt10">
                                <a href="JavaScript:void(0)" (click)="onCheckStoreCredit()"
                                    class="innerStatusBtns noFloat dInlineBlock">Check Sore
                                    Credit</a>
                            </div>
                            <div class="statusdetails mt15">
                                <div class="row ml0 mr0">
                                    <div class="col-lg-6 pl0 noborderBottom">
                                        <label class="color000 mb0 fontSemiBold fontPoppin font11">Add
                                            supplier's buyback number</label>
                                        <input type="text" [(ngModel)]="supplierOrderNumber"
                                            class="form-control cust-field font11 borderColorcbcbcb borderRadius5 dInlineBlock"
                                            placeholder="Type your supplier's buyback number">
                                        <!-- <a (click)='poSupplierOrderNumberFun(orderDetail)'
                                            class="dInlineBlock bgBlack text-center wd25percent ml10 borderRadius5 lineHeight30px">Save</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="statusInnerActions bottomMin15 mt10 text-right posRelative">
                                <a href="JavaScript:void(0)" (click)="openModal(downloadOrder, 'custModal wd300')"
                                    class="innerStatusBtns mr10 noFloat dInlineBlock">Download Buyback</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #open_deleteOrder>
    <div class="modal-body">
        <div class="modalTitle mx-auto text-center mt20 wd250">
            <i class="fa fa-trash font42 color000"></i>
            <h2 class="fontPoppin font20 fontSemiBold mt15 color000">
                Do you want to delete this order?</h2>
        </div>
    </div>
    <div class="modal-footer dBlock noborder text-center mx-auto pt10 pb5 mb30">
        <button (click)="deleteOrder()" type="button"
            class="btn modalSaveBtnReceive fontPoppin borderRadius20 mb5 bgBlack colorWhite">Yes,
            delete it</button>
        <button (click)="closeModel()" type="button" class="btn modalSaveBtnReceive fontPoppin borderRadius20">No,
            go back</button>
    </div>
</ng-template>
<ng-template #open_cancelOrder>
    <app-toaster (closeToaster)="closeToaster()" [toasterType]="toasterType" [toasterMsg]="toasterMsg"
        [hideToster]="hideToster"></app-toaster>
    <div class="modal-body" [ngClass]="{'bounce colorRedError':userNotValid}">
        <div class="modalTitle mx-auto text-center mt30">
            <i class="icon-invoice font42 color000"></i>
            <h2 class="fontPoppin font18 fontSemiBold mt15 color000">Are you sure you want<br> to cancel this Buyback?
            </h2>
        </div>
        <form autocomplete="off">
            <div class="row mb15 mt15">
                <div class="col-lg-12">
                    <label
                        [ngClass]="{'bounce colorRedError':cancelBuybackSubmitted && userEmail== '' || cancelBuybackSubmitted && !stockService.validateEmail(this.userEmail)}"
                        class="fontPoppin mb0 font12 fontSemiBold color000">User Name</label>
                    <input (blur)='isEmailValid = stockService.validateEmail(userEmail)'
                        [ngClass]="{'bounce':cancelBuybackSubmitted && userEmail== '' || !isEmailValid}"
                        [(ngModel)]="userEmail" type="text"
                        class="form-control cust-field font12 borderColorcbcbcb borderRadius5"
                        placeholder="example@example.com" [ngModelOptions]="{standalone: true}">
                    <span  *ngIf="userEmail == ''" style="color: red;"
                        [ngClass]="{'bounce colorRedError':cancelBuybackSubmitted && userEmail== ''}">User name is
                        required</span>
                    <span *ngIf="!isEmailValid && userEmail !== ''" style="color: red;" [ngClass]="{'bounce colorRedError': cancelBuybackSubmitted && !isEmailValid}">Invalid Email</span>
                </div>
            </div>
            <div class="row mb15">
                <div class="col-lg-12">
                    <label [ngClass]="{'bounce colorRedError':cancelBuybackSubmitted && userPwd== ''}"
                        class="fontPoppin mb0 font12 fontSemiBold color000">Password</label>
                    <input [ngClass]="{'bounce':cancelBuybackSubmitted && userPwd== ''}"
                        [(ngModel)]="userPwd" type="password"
                        class="form-control cust-field font12 borderColorcbcbcb borderRadius5"
                        placeholder="Type the password here" [ngModelOptions]="{standalone: true}">
                    <span *ngIf="userPwd== ''"
                        [ngClass]="{'bounce colorRedError':cancelBuybackSubmitted && userPwd== ''}">Password is
                        required</span>
                </div>
            </div>
        </form>
        <!-- <span *ngIf="userNotValid" class="bounce colorRed">{{userMsg}}</span> -->
    </div>
    <div [ngClass]="{'bounce colorRedError':userNotValid}"
        class="modal-footer dBlock noborder text-center mx-auto pt10 pb5 mb40">
        <button [ngClass]="{ 'disabled': cencleButtonDisable}" (click)="cancelOrder()" type="button"
            class="btn modalSaveBtnReceive fontPoppin borderRadius20 mb5 bgBlack colorWhite">Yes,
            cancel it</button>
        <button (click)="closeModel()" type="button" class="btn modalSaveBtnReceive fontPoppin borderRadius20">No,
            go back</button>
    </div>
</ng-template>
<ng-template #downloadOrder>
    <div class="modal-body">
        <div class="modalTitle mx-auto text-center mt20 wd250">
            <i class="fas fa-download font42 color000"></i>
            <h2 class="fontPoppin font20 fontSemiBold mt15 color000">
                How do you want to download your file?</h2>
        </div>
    </div>
    <div class="modal-footer dBlock noborder text-center mx-auto pt10 pb5 mb30">
        <button (click)="downloadPO('pdf')" type="button"
            class="btn modalSaveBtnReceive fontPoppin borderRadius20 mb5 bgBlack colorWhite">PDF</button>
        <button (click)="downloadPO('csv')" type="button"
            class="btn modalSaveBtnReceive mb5 fontPoppin borderRadius20">CSV</button>
        <button (click)="closeModel()" type="button"
            class="btn modalCancelBtn font12 fontLato fontSemiBold mx-auto">Cancel</button>
    </div>
</ng-template>