
.required-information {
  color: red;
  font-size: 20px;
  }

.title-view {
  color: black;
  font-weight: bold;
}

.container-view-directory {
padding: 40px 70px;
overflow-y: scroll;
height: inherit;
color: #000;
}

.container-view-directory .row div {
  border-bottom-width: 0px !important;
}

/*Style from sub container and schedule content*/
.sub-container.schedule-content {
  padding: 0px 60px;
}

/*Style from sub container and social link content*/
.sub-container.social-link-content {
  padding: 0px 110px;
}

/*Style from week day schedule*/
.row-week-day {
  padding: 3px 0px 3px 15px
}

/*Style from customize divider*/
.custom-divider {
  margin: 50px 0px !important;
}


/*style from divider*/
.divider {
  height: 0 !important;
  margin: .5rem 0;
  overflow: hidden !important;
  border-top: 1px solid #c3c3c3 !important;
  width: 100% !important;
}

/*Styles from edit button*/
.options-button button {
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "BebasNeue-Bold";
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  /* margin-right: 0px; */
}

.options-button button:first-child {
  /* margin-right: 10px; */
  background-color: #fff;
  color: #000;
}

.options-button button:hover {
  background-color: #000;
  color: #fff;
}

.options-button button:disabled:hover {
  background-color: #fcfcfc !important;
  color: #c1c1c1 !important;
  cursor: not-allowed !important;
}

/*Styles from container controls*/
.container-options {
  padding: 10px 0px;
  text-align: end;
}

/*Styles from gallery and form information*/
.sub-container {
  padding: 0px 35px;
}

.store-name {
  font-weight: bold;
}

.checkbox-position {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  vertical-align: middle;
}

.store-label {
  font-size: 20px;
  margin-bottom: -0.1rem;
  color: #606060
}

/*Styles from slider component*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*Styles for meridem select*/
.meriden-select {
  width: auto;
}

/* The dots/bullets/indicators */
.dotUpdate {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 10px;
  background-color: #606060;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dotUpdate:hover {
  background-color: #03caae;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.5s;
  animation-name: fade;
  animation-duration: 5.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.position-float {
  width: 50%;
  float: left;
}


.padding-check {
  padding-top: 60px;
}
